/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  background-color: aqua;
}
.fon{
  width: 100px;
}
.btn_banner_img{
  width: 100px;
}

.banner_img {
  width: 40%;
z-index: 1;
}

img{
  right: 60px;
}

banner {
  position: relative;
  top: -15px;
  width: 100px;
}

.text {
z-index: 2;
padding-top: 140px;
padding-left: 100px;
}

h1 {
position: absolute;
color: white;
top: 120px;
left: 100px;
z-index: 3;
width: 100%;
font-size: 96px;
right: 30px;
}

.btn_check_output {
display: flex;
padding-top: 140px;
}

button {
position: absolute;
width: 220px;
height: 50px;
color: white;
justify-content: center;
align-items: center;
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 21px;
border-radius: 7px;
border: none;
background: rgb(147, 165, 77);
z-index: 3;
top:370px;
left: 30px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;

}

.banner {
  width: 100vw;
  height: 600px; /* Высота баннера */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Цвет текста */
}

.title {
  font-size: 96px; /* Размер шрифта заголовка */
  margin: 0.5em 0; /* Отступы вокруг заголовка */
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5); /* Тень для текста, чтобы его легче читать на фоне */
}

.button {
  font-size: 1rem; /* Размер шрифта кнопки */
  padding: 10px 20px; /* Паддинги внутри кнопки */
  background-color: rgb(147, 165, 77); /* Фоновый цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px; /* Скругление углов кнопки */
  cursor: pointer;
  transition: background-color 0.3s; /* Анимация фона кнопки */
}

.button:hover {
  background-color: #367B3F; /* Цвет кнопки при наведении */
}
