/* dark theme styles */

.lightTheme .navigationLink button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #dddddd;
  color: #8b8b8b;
}

.lightTheme .imageModalContent {
  background: none;
}

.lightTheme .navigationLink .line {
  background-color: #dddddd;
}

.lightTheme .navigationLink button:hover {
  background-color: #424436;
  color: #FFFFFF;
  border-color: #dddddd;
}

.lightTheme .navigationLink .buttonActive {
  color: #443736;
}

.lightTheme .productInfo h1,
.lightTheme .priceSection,
.lightTheme .navigationLink .buttonActive {
  color: #424436;
}

.lightTheme .productDescription h2,
.lightTheme .productDescription p,
.lightTheme .readMoreLink {
  color: #424436;
}

.darkTheme .navigationLink button {
  color: #8b8b8b;
  background-color: #424436;
  border: 1px solid #8b8b8b;
}

.darkTheme .navigationLink .line {
  background-color: #8B8B8B;
}

.darkTheme .productInfo h1,
.darkTheme .priceSection,
.darkTheme .navigationLink .buttonActive,
.darkTheme .navigationLink button:hover {
  color: #FFFFFF;
}

.darkTheme .productDescription h2,
.darkTheme .productDescription p,
.darkTheme .readMoreLink {
  color: #DDDDDD;
}

/* */

.singleProductPage {
  margin: 0 40px;
  /* display: flex;
  flex-direction: column; */
}

.navigationLink {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.navigationLink .line {
  width: 16px;
  height: 1px;
}

.navigationLink button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.productWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}

.productImageContainer {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 100%;
}

.productImageContainer img {
  width: 100%;
  height: auto;

  border-radius: 12px;
}

.containerTitle {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
}

.productInfo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
}

.productTitle {
  width: 100%;
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* стиль для сердечка */
.productInfo img {
  width: 44px;
  cursor: pointer;
  align-items: flex-start;
}

.imageModalContent {
  padding: 0;
  background: none;
  margin-top: 150px;
}

.imageModalContent>img {
  display: none;
}

.modalImage {
  width: 900px;
  height: 530px;
  object-fit: cover;
}

.priceSection {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 359px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.price {
  width: 280px;
  position: relative;
}

.currentPrice {
  width: 147px;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
  align-self: flex-end;
}

.oldPrice {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-decoration: line-through;
  align-self: flex-end;
  color: grey;
  align-self: flex-end;
}

.procent {
  width: 79px;
  height: 70px;
  align-self: flex-start;
  position: relative;
}

.discount {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  background-color: #f26d22;
  color: #ffffff;
  border-radius: 6px;
  padding: 4px 8px;
  align-self: flex-start;
}

.addToCartContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.containertButtonCart {
  width: 100%;
  border-radius: 6px;
}

.addToCartButton {
  padding: 16px 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  background-color: #92a134;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  position: static;
}

.addToCartButton:hover {
  background-color: #424436;
}

.productDescription {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}

.productDescription h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.productDescription p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-bottom: 15px;
}

.readMoreButton {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  background-color: transparent;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #282828;
}

@media (max-width: 1000px) {
  .productWrapper {
    gap: 16px;
  }

  .productDescription {
    width: 100%;
    height: 10%;
  }

}

@media (max-width: 768px) {
  .productImageContainer {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .currentPrice {
    font-size: 56px;
    line-height: 61.6px;
  }

  .oldPrice {
    font-size: 32px;
    line-height: 41.6px;
  }

  .containerTitle {
    font-size: 32px;
    grid-column: 2;
    grid-row: 1;
  }

  .productDescription {
    width: 100%;
    height: 10%;
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .productDescription h2 {
    font-size: 20px;
  }

  .productDescription p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {

  .productWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .productImageContainer {
    grid-column: 1;
    grid-row: 1;
  }

  .addToCartButton {
    font-size: 16px;
  }

  .containerTitle {
    font-size: 20px;
    grid-column: 1;
    grid-row: 2;
  }

  .productDescription {
    grid-column: 1;
    grid-row: 3;
  }

  .productDescription h2 {
    font-size: 18px;
  }

  .productDescription p {
    font-size: 14px;
  }

}

@media (max-width: 380px) {
  .productWrapper {
    width: 272px;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .productImageContainer {
    grid-column: 1;
    grid-row: 1;
  }

  .containerTitle {
    font-size: 25px;
    grid-column: 1;
    grid-row: 2;
  }

  .productDescription {
    grid-column: 1;
    grid-row: 3;
  }
}