.ProductCounterContainer {
  display: flex;
  align-items: center;
  
}

.quantityButton {
  font-size: 24px;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.quantity {
  font-size: 24px;
  width: 96px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #fff;
  line-height: 32px;
  text-align: center;
  border-radius: 6px;
}
