.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 128px;
  white-space: nowrap;
  border: 1px solid #dddddd;
  background-color: #fffff1;
}

.navMenu a {
  text-decoration: none;
  color: #424436;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 12px;
}

.iconsLeft {
  display: flex;
  gap: 20px;
  padding: 30px 0 30px 40px;
}

.plantLogo {
  width: 70px;
  height: 70px;
}

.themeIcon {
  width: 60px;
  cursor: pointer;
}

.navBarCenter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.navMenuLinks {
  display: flex;
  gap: 32px;
  padding-bottom: 28px;
}

.navMenuLinks a:hover {
  border-bottom: 1px solid #92a134;
}

.buttonNavMenu > button {
  background-color: #92a134;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
}

.active button {
  width: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsRight {
  display: flex;
  gap: 24px;
  padding: 40px;
}

.heartIcon {
  width: 44px;
  height: 38px;
  margin-top: 8px;
  cursor: pointer;
  text-decoration: none;
}

.cartIcon {
  width: 44px;
  height: 48px;
  cursor: pointer;
  text-decoration: none;
}

.burgerMenuIcon {
  display: none;
}

.crossIcon {
  display: none;
}

@media (max-width: 1000px) {
  .iconsLeft {
    gap: 18px;
    padding: 30px 0 30px 15px;
  }

  .plantLogo {
    width: 65px;
    height: 65px;
  }

  .navMenuLinks {
    gap: 22px;
  }

  .iconsRight {
    gap: 10px;
    padding: 40px 20px;
  }

  .heartIcon {
    width: 38px;
    height: 32px;
  }

  .cartIcon {
    width: 38px;
    height: 42px;
  }
}

@media (max-width: 768px) {
  .iconsLeft {
    gap: 14px;
    padding: 30px 15px;
  }

  .plantLogo {
    width: 65px;
    height: 65px;
  }

  .themeIcon {
    width: 50px;
  }

  .navMenuLinks {
    gap: 15px;
    font-size: 14px;
    padding-bottom: 30px;
  }

  .iconsRight {
    gap: 12px;
    padding: 40px 15px 40px 15px;
  }
}

@media (max-width: 480px) {
  .navMenu {
    height: 68px;
  }

  .iconsLeft {
    gap: 14px;
    padding: 12px 15px;
  }

  .plantLogo {
    width: 44px;
    height: 44px;
  }

  .themeIcon {
    width: 50px;
  }
  .navBarCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -200%;
    top: 0;
    width: 282px;
    background-color: #fffff1;
    border: 1px solid #dddddd;
    transition: right 0.5s;
    padding: 100px 90px 1067px 32px;
  }

  .buttonNavMenu {
    display: flex;
  }

  .buttonNavMenu > button {
    margin-top: 0;
    font-size: 24px;
    gap: 16px;
    margin-left: 55px;
  }

  .navMenuLinks {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 211px;
  }

  .navMenuLinks a {
    font-size: 24px;
  }
  .active {
    right: 0;
  }

  .burgerMenuIcon {
    display: block;
    cursor: pointer;
    z-index: 10;
    width: 32px;
    margin-top: 8px;
  }

  .iconsRight {
    gap: 12px;
    margin-bottom: 10px;
    padding: 16px 20px;
  }

  .heartIcon {
    width: 29px;
    height: 25px;
    margin-top: 6px;
  }

  .cartIcon {
    width: 29px;
    height: 32px;
  }

  .crossIcon {
    display: block;
    height: 40px;
  }
}

@media (max-width: 360px) {
  .navBarCenter {
    width: 222px;
  }

  .navMenuLinks a {
    font-size: 18px;
  }

  .buttonNavMenu > button {
    font-size: 18px;
    width: 166px;
  }
}
