.container {
  padding: 40px 40px 0 40px;
  .cartPage {
    display: flex;
    align-items: center;
    .titlePage {
      color: #424436;
      font-weight: 700;
      font-size: 64px;
    }
    .line {
      height: 1px;
      flex-grow: 1;
      background-color: #8b8b8b;
    }

    .buttonActive {
      background-color: #fffff1;
      color: #8b8b8b;
      padding: 8px 16px;
      border-radius: 6px;
      border-color: #8b8b8b;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      gap: 10px;

      :hover {
        background-color: white;
        color: #424436;
      }
    }
  }
  & > div {
    .text {
      width: 100%;
      max-width: 548px;
      height: 26px;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      color: #424436;
      text-align: left;
    }

    .btn {
      margin: 32px 0px;
      border-radius: 6px;
      font-size: 20px;
      font-weight: 600;
      line-height: 130%;
      padding: 16px 56px;
      gap: 10px;
      color: white;
      background: #92a134;
      text-align: center;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
    }
  }

  .cartContainer {
    display: flex;
    padding-top: 40px;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .cartItem {
      max-width: 780px;
      height: auto;
      position: relative;
      .removeButton {
        position: absolute;
        top: 32px;
        right: 32px;
        width: 24px;
        height: 24px;
      }

      .cartItemDetails {
        display: flex;
        gap: 32px;
        border: 1px solid #dddddd;
        border-radius: 12px;
        overflow: hidden;
        box-sizing: border-box;
        background-color: white;

        .cartItemImg {
          max-width: 200px;
          height: auto;
          display: flex;
          align-items: center;
          border-right: 1px solid #dddddd;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        .cartItemContent {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 32px 32px 32px 0px;

          h4 {
            font-size: 20px;
            font-weight: 500;
          }

          .cartItemPrice {
            display: flex;
            gap: 16px;

            p {
              font-size: 40px;
              font-weight: 600;
              color: #424436;
              line-height: 28px;
            }

            .discontPrice {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              text-decoration: line-through;
              color: #8b8b8b;
            }

            .priceContainer {
              display: flex;
              gap: 16px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .cartContainer {
      & > div {
        gap: 12px;
      }
      .cartItem {
        .cartItemDetails {
          gap: 20px;
          .removeButton {
            top: 20px;
            right: 21px;
          }
          .cartItemContent {
            padding: 20px 20px 20px 0px;
            gap: 12px;
            .cartItemPrice {
              flex-direction: column;
              gap: 12px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .text {
      font-size: 20px;
      line-height: 26px;
    }
    .cartContainer {
      flex-direction: column;
      gap: 20px;

      .cartPage {
        .titlePage {
          font-size: 56px;
        }
        .buttonActive {
          width: 153px;
          height: 34px;
          font-size: 13px;
          line-height: 17px;
        }
      }
      .cartItem {
        
        .cartItemDetails {
          .cartItemImg {
        
            img {
              
            }
          }

          .cartItemContent {
            .cartItemPrice {
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .cartContainer {
      .cartPage {
        .titlePage {
          font-size: 48px;
          line-height: 40px;
        }
        .buttonActive {
          font-size: 12px;
          padding: 14px 0px;
        }
      }

      .text {
        font-size: 18px;
        line-height: 23px;
      }
      .btn {
        font-size: 18px;
        padding: 12px 52px;
      }

      .cartItem {
        max-width: 440px;
        .cartItemDetails {
          .cartItemImg {
            max-width: 229px;
            height: 136px;
            img {
              
            }
          }

          .cartItemContent {

            h4 {
              font-size: 18px;
            }

            .cartItemPrice {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
