/* dark theme styles */

.lightTheme .line {
  background-color: #dddddd;
}

.lightTheme .titlePage,
.lightTheme .text,
.lightTheme .cartItemContent > h4,
.lightTheme .removeButton,
.lightTheme .discontPrice {
  color: #424436;
}

.lightTheme .buttonActive {
  background-color: #fffff1;
  color: #8b8b8b;
  border: 1px solid #8b8b8b;
}

.lightTheme .buttonActive:hover {
  background-color: #424436;
  color: #ffffff;
}

.darkTheme .titlePage,
.darkTheme .text {
  color: #ffffff;
}

.darkTheme .buttonActive {
  background-color: #424436;
  color: #8b8b8b;
  border: 1px solid #8b8b8b;
}

.darkTheme .buttonActive:hover,
.darkTheme .cartItemContent > h4,
.darkTheme .price {
  color: #ffffff;
}

.darkTheme .discontPrice,
.darkTheme .removeButton,
.darkTheme .line {
  color: #8b8b8b;
}

/* */

.container {
  padding: 40px 40px 0 40px;
}
.cartPage {
  display: flex;
  align-items: center;
}
.line {
  height: 1px;
  flex-grow: 1;
}
.buttonActive {
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  gap: 10px;
}

.titlePage {
  padding: 40px 0;
  font-weight: 700;
  font-size: 64px;
  padding-right: 20px;
}
.text {
  width: 548px;
  height: 26px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.btn {
  margin: 32px 0px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  padding: 16px 56px;
  gap: 10px;
  color: #ffffff;
  background: #92a134;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media (max-width: 1000px) {
  .text {
    width: 470px;
    height: 52px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 768px) {
  .titlePage {
    font-size: 56px;
  }
  .text {
    white-space: nowrap;
    font-size: 20px;
    line-height: 26px;
  }
  .buttonActive {
    width: 153px;
    height: 34px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 480px) {
  .titlePage {
    font-size: 48px;
    line-height: 53px;
  }
  .buttonActive {
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    margin-bottom: 45px;
  }

  .text {
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
    width: 440px;
    height: 46px;
  }
  .btn {
    font-size: 18px;
    padding: 12px 52px;
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .titlePage {
    font-size: 40px;
    line-height: 44px;
    white-space: nowrap;
  }
  .text {
    font-size: 18px;
    line-height: 23px;
    width: 320px;
  }
  .btn {
    width: 285px;
    height: 47px;
    padding: 12px 52px;
  }
  .buttonActive {
    font-size: 12px;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container {
    margin-bottom: 70px;
  }
}
