.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  margin: 0 auto;

  .headerImg {
    width: 100%;
    min-width: 1440px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .headerContent {
    padding: 90px 0 0 40px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    gap: 40px;
    color: #ffffff;

    .title {
      max-width: 1100px;
      font-size: 96px;
      line-height: 100px;
    }

    button {
      background-color: #92a134;
      padding: 16px 56px;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      cursor: pointer;
    }
  }

  @media (max-width: 1440px) {
    .headerImg {
      height: auto;
    }
  }
  @media (max-width: 1000px) {
    height: 600px;

    .headerImg {
      height: auto;
    }

    .headerContent {
      padding: 60px 0px 0 20px;

      .title {
        line-height: 99px;
        font-size: 90px;
      }
    }
  }

  @media (max-width: 768px) {
    .headerImg {
      height: auto;
    }

    .headerContent {
      padding: 60px 0px 0 20px;

      .title {
        line-height: 74.8px;
        font-size: 68px;
      }
    }
  }

  @media (max-width: 480px) {
    height: 600px;

    .headerImg {
      height: auto;
    }

    .headerContent {
      padding: 50px 0px 0 20px;
      gap: 24px;

      .title {
        line-height: 66px;
        font-size: 60px;
      }

      button {
        padding: 12px 52px;
      }
    }
  }

  @media (max-width: 360px) {
    height: 600px;

    .headerImg {
      height: auto;
    }

    .headerContent {
      padding: 50px 0px 0 20px;
      gap: 24px;

      .title {
        line-height: 57.2px;
        font-size: 52px;
      }
    }
  }
}
