.banner {
  position: relative;
  overflow: hidden;
  // width: auto;
  height: 600px;

  .headerImg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .headerContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0 40px;
    gap: 40px;
    color: white;


    h1 {
      font-size: 96px;
      line-height: 100.6px;

      span {

        display: inline-block;
      }
    }

    button {
      background-color: #92A134;
      padding: 16px 56px;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      font-weight: 600;
      color: white;
      cursor: pointer;
    }
  }

  @media (max-width: 1000px) {
    height: 476px;

    .headerImg {
      height: 476px;
    }

    .headerContent {
      padding: 60px 0px 0 20px;

      h1 {
        line-height: 99px;
        font-size: 90px;

        span {
          display: inline;
          font-size: 81.5px;
        }
      }
    }

  }

  @media (max-width: 768px) {
    height: 634px;

    .headerImg {
      height: 634px;
    }

    .headerContent {
      padding: 60px 0px 0 20px;

      h1 {

        line-height: 74.8px;
        font-size: 68px;

        span {
          display: inline-block;
          font-size: 68px;
        }
      }
    }

  }

  @media (max-width: 480px) {
    height: 600px;

    .headerImg {
      height: 600px;
    }

    .headerContent {
      padding: 50px 0px 0 20px;
      gap: 24px;

      h1 {
        line-height: 66px;
        font-size: 60px;

        span {

          font-size: 60px;
        }
      }

      button {
        padding: 12px 52px;
      }
    }
  }

  @media (max-width: 360px) {
    height: 600px;

    .headerImg {
      height: 600px;
    }

    .headerContent {
      padding: 50px 0px 0 20px;
      gap: 24px;

      h1 {
        line-height: 57.2px;
        font-size: 52px;

        span {
          font-size: 52px;
        }
      }

    }
  }
}