* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  // background-color: #fffff1;
  // color: #282828;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

/* dark theme styles */ 

.app.darkTheme {
  background-color: #424436;
}

.app.lightTheme {
  background-color: #fffff1;
}

/* */