.favoritesContainer {
  padding: 40px 40px 0 40px;

  .navigationLink {
    display: flex;
    align-items: center;

    .line {
      width: 16px;
      height: 1px;
      background-color: #dddddd;
    }
    button {
      padding: 8px 16px;
      border-radius: 6px;
      border: 1px solid #dddddd;
      color: #8b8b8b;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
    .buttonActive {
      color: #424436;
    }
  }
  .titlePage {
    white-space: nowrap;
    padding: 40px 0;
    font-weight: 700;
    font-size: 64px;
    color: #424436;
  }

  .cardContainer {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  @media (max-width: 1000px) {
    padding: 40px 20px 0 20px;
    .cardContainer {
      gap: 20px;
      padding-top: 32px;
      
    }
  }

  @media (max-width: 768px) {
    .cardContainer {
      grid-template-columns: repeat(2, 1fr);
     
    }
  }
  @media (max-width: 768px) {
    .titlePage {
      font-size: 56px;
      padding: 32px 0;
    }

    .cardContainer {
      grid-template-columns: repeat(2, 1fr);
      
    }
  }

  @media (max-width: 480px) {
    padding: 0 20px;
    .navigationLink {
      display: none;
    }
    .titlePage {
      font-size: 48px;
      padding: 32px 0 24px 0;
    }

    .cardContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 360px) {
    padding: 0 20px;
    .navigationLink {
      display: none;
    }
    .titlePage {
      font-size: 40px;
      padding: 32px 0 24px 0;
      line-height: 44px;
    }

    .cardContainer {
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
}
